<!DOCTYPE html>
<html>
  <head>
    <title>Token Counter</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>(Tik)Token Counter</h1>
    <form id="token-count-form">
      <!-- <label for="text-input">Text:</label> -->
      <textarea id="text-input" name="text" rows="4" cols="50" placeholder="... Your text here ..."></textarea>
      <br />
      <button type="submit">COUNT TOKENS</button>
    </form>
    <br />
    <div id="token-count-container">
      #: <span id="token-count">0</span>
    </div>
    <div>
      <span id="token-strings"></span>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
